ContainerIDs and TaskIDs (not yet implemented) should follow namespace charset constraints

#1046 added restrictions for namespaces. We should match these restrictions in container and task ids.

The naming logic in the `namespaces` package should be broken out and used across these packages.

Task IDs are not yet implemented.

Anyone is working on this? If none, I'd like to implement.

For restrictions rules, I think it maybe follow docker container name, as https://github.com/moby/moby/blob/master/api/names.go#L6, with 128 bytes of max length.

@xiekeyang Why? That is completely different from what has been proposed by containerd.

Rather than copy pasting something in here, let's look at the requirements to figure out what is needed. The first I can think of is safe filesystem names but there are others, like docker compatibility.

@stevvooe Agree, I would search the similar stuff restriction to container and task ID.

@stevvooe I find some name syntax, which might be reference for ContainerIDs and TaskIDs.

Portable Filename Character: http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/V1_chap03.html#tag_03_282
This is for file name. syntax: A-Za-z0-9 . _ - {PATH_MAX}

hostname https://tools.ietf.org/html/rfc5890#section-2.3.1
This is for host or virtual machine name. The syntax is equal to RFC 1035, section 2.3.1.

@xiekeyang For the most part, we are meeting these restrictions for container ids, but we may add to allow underscores. While the portable filename character is probably pretty solid, we've added a few constraints on where characters can appear to increase likelihood of domain name compatibility.

@stevvooe 
>  While the portable filename character is probably pretty solid, we've added a few constraints on where characters can appear to increase likelihood of domain name compatibility.

Containerd constrains namespace becasue it allow multi clients access their own container resource. So it play as domain name. While task/container more like executable file, and they are under namespace. So I feel we may set task/container constraints seperately. That means namespace keep compliable to domain name (because consumer might check the URI of namespace according to domain name syntax), and task/container be compliable to portable filename.

If that is reasonable, should I open a PR?

@xiekeyang We'll probably move the current `identifiers` back to the namespace package and use it only for namespaces. The current identifiers package can then be used for the case of validating container ids, task ids and exec ids.

Hold off on opening a PR.