Failed to parse `Www-Authenticate` if `auth-param` has empty value

### Description

In [remotes/docker/auth/parse.go#L136-L139](https://github.com/containerd/containerd/blob/v1.6.0-beta.3/remotes/docker/auth/parse.go#L136-L139), empty value of `auth-param` is treated as error and returned. Rest params are not parsed. However, empty values are valid as defined by

- [RFC 7235 section 2.1](https://datatracker.ietf.org/doc/html/rfc7235#section-2.1): `auth-param     = token BWS "=" BWS ( token / quoted-string )`
- [RFC 7230 section 3.2.6](https://datatracker.ietf.org/doc/html/rfc7230#section-3.2.6): `quoted-string  = DQUOTE *( qdtext / quoted-pair ) DQUOTE`

### Steps to reproduce the issue

_No response_

### Describe the results you received and expected

Given the `Www-Authenticate` challenge below
```
Bearer realm="https://auth.example.io/token",empty="",service="registry.example.io",scope="repository:library/hello-world:pull,push"
```

Actual:

- `realm`: `https://auth.example.io/token`

Expected:

- `realm`: `https://auth.example.io/token`
- `empty`: empty string
- `service`: `registry.example.io`
- `scope`: `repository:library/hello-world:pull,push`


### What version of containerd are you using?

v1.6.0-beta.3

### Any other relevant information

_No response_

### Show configuration if it is related to CRI plugin.

_No response_